absl-py==2.0.0
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
attrs==23.2.0
blobfile==2.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.0
click-default-group==1.2.4
cloudpickle==3.0.0
-e git+https://github.com/meta-llama/codellama@1af62e1f43db1fa5140fa43cb828465a603a48f3#egg=codellama
contourpy==1.2.1
cycler==0.12.1
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
fairscale==0.4.13
filelock==3.13.3
fire==0.6.0
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
#funsearch @ file:///home/vandriel/Documents/2324-S2%20Seminar%20Deep%20Learning/funsearch
gitdb==4.0.11
GitPython==3.1.43
gpt4all==2.3.2
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-cli==0.1
huggingface-hub==0.22.2
idna==3.6
Jinja2==3.1.3
kiwisolver==1.4.5
-e git+https://github.com/meta-llama/llama3.git@0cee08ec68f4cfc0c89fe4a9366d82679aaa2a66#egg=llama3
llama_cpp_python==0.2.58
llm==0.12
llm-gpt4all==0.3
llm-llama-cpp==0.3
lxml==4.9.4
MarkupSafe==2.1.5
matplotlib==3.8.4
mpmath==1.3.0
multidict==6.0.5
networkx==3.3
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
openai==0.28.1
packaging==24.0
pillow==10.3.0
pluggy==1.4.0
protobuf==4.25.3
psutil==5.9.8
PuLP==2.8.0
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-ulid==2.3.0
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.2
scipy==1.11.4
sentencepiece==0.2.0
sentry-sdk==1.44.1
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sqlite-fts4==1.0.3
sqlite-migrate==0.1b0
sqlite-utils==3.36
sympy==1.12
tabulate==0.9.0
termcolor==2.4.0
tiktoken==0.4.0
tokenizers==0.15.2
torch==2.2.2
tqdm==4.66.2
transformers @ git+https://github.com/huggingface/transformers@cb5927ca8f4c922365cebf08ae66566e65443a52
triton==2.2.0
typing_extensions==4.10.0
urllib3==2.2.1
wandb==0.16.6
yarl==1.9.4
